<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>EVOS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
        <link href="css/styles.css?v=<%= new Date().getTime() %>" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
        
        <!-- DataTables CSS -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/sl-1.7.0/datatables.min.css" />

        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <!-- DataTables JS -->
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.colVis.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/v/dt/sl-1.7.0/datatables.min.js"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        
    </head>
    <style>
      body.sub {
          background-color: #f8f8f8;
      }

      .no-border tfoot {
        border-top: none;
      }
    </style>
    <body class="sb-nav-fixed sub">
        <nav class="sb-topnav navbar navbar-expand navbar-light bg-white">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-1" href="/home"><img src="/assets/img/main_logo.png" alt="logo" style="max-height: 32px; max-width: 100%; margin-right: 0.5rem;"></a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 border" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav me-3">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#!">Settings</a></li>
                          <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><a class="dropdown-item" href="#!">Logout</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Home</div>
                            <a class="nav-link" href="/home">
                                <i class="fas fa-cube sb-nav-link-icon"></i>Home
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCheckList" aria-expanded="false" aria-controls="collapseCheckList">
                              <i class="fas fa-check sb-nav-link-icon"></i>체크리스트
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseCheckList" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="#">체크리스트</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSchedule" aria-expanded="false" aria-controls="collapseSchedule">
                                <i class="fas fa-calendar-alt sb-nav-link-icon"></i>일정관리
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseSchedule" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="#">일정조회</a>
                                    <a class="nav-link" href="#">일정등록</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDbManage" aria-expanded="false" aria-controls="collapseDbManage">
                                <i class="fas fa-database sb-nav-link-icon"></i>DB관리
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseDbManage" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                              <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/dbList">DB조회</a>
                                <a class="nav-link" href="/dbAdd">DB등록</a>
                              </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFiled" aria-expanded="false" aria-controls="collapseFiled">
                              <i class="fas fa-camera sb-nav-link-icon"></i>현장실사조회
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseFiled" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                              <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/surveyUnList">실사신청 미등록조회</a>
                                <a class="nav-link" href="/surveyList">실사조회</a>
                              </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFiledMnage" aria-expanded="false" aria-controls="collapseFiledMnage">
                              <i class="fas fa-hard-hat sb-nav-link-icon"></i>현장실사관리
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseFiledMnage" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                              <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/surveyReqList">실사요청조회</a>
                                <a class="nav-link" href="#">실사일정등록</a>
                                <a class="nav-link" href="#">실사자료등록</a>
                              </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseContract" aria-expanded="false" aria-controls="collapseContract">
                              <i class="fas fa-file-contract sb-nav-link-icon"></i>계약관리
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseContract" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                              <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">계약진행조회</a>
                                <a class="nav-link" href="#">계약정보등록</a>
                              </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseConstruction" aria-expanded="false" aria-controls="collapseConstruction">
                              <i class="fas fa-hard-hat sb-nav-link-icon"></i>시공관리
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseConstruction" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                              <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">시공진행조회</a>
                                <a class="nav-link" href="#">시공정보등록</a>
                              </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseNotice" aria-expanded="false" aria-controls="collapseNotice">
                              <i class="fas fa-bullhorn sb-nav-link-icon"></i>공지사항
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseNotice" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                              <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">공지사항</a>
                                <a class="nav-link" href="#">영업 자료실</a>
                                <a class="nav-link" href="#">충전사업자 계약서류</a>
                              </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseActivity" aria-expanded="false" aria-controls="collapseActivity">
                              <i class="fas fa-chart-bar sb-nav-link-icon"></i>활동통계
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseActivity" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                              <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">활동모니터</a>
                              </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseHr" aria-expanded="false" aria-controls="collapseHr">
                              <i class="fas fa-users sb-nav-link-icon"></i>인사정보
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseHr" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                              <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">그룹관리</a>
                                <a class="nav-link" href="#">인사조회</a>
                                <a class="nav-link" href="#">급여명세서</a>
                              </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSystem" aria-expanded="false" aria-controls="collapseSystem">
                              <i class="fas fa-cogs sb-nav-link-icon"></i>시스템관리
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseSystem" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                              <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">수수료관리</a>
                                <a class="nav-link" href="#">수수료설정</a>
                                <a class="nav-link" href="#">페이지설정</a>
                              </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail">
                              <i class="fas fa-envelope sb-nav-link-icon"></i>이메일전송
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseEmail" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                              <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">제안서전송</a>
                                <a class="nav-link" href="#">실사보고서전송</a>
                                <a class="nav-link" href="#">계약서류전송</a>
                                <a class="nav-link" href="#">계약서발송공문</a>
                              </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMypage" aria-expanded="false" aria-controls="collapseMypage">
                              <i class="fas fa-user sb-nav-link-icon"></i>마이페이지
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseMypage" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                              <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">기본정보</a>
                                <a class="nav-link" href="#">활동모니터통계</a>
                                <a class="nav-link" href="#">수수료조회</a>
                                <a class="nav-link" href="#">1:1문의</a>
                              </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>      
            
          <!-- main 화면 render -->
          <div id="layoutSidenav_content">
            <main>
              <!-- 공지사항 롤링바 -->
              <div class="page-header page-header-dark bg-gradient-primary-to-secondary">
                <div class="container-fluid">
                  <div class="rolling-bar text-black p-1" style="background-color: #d5d5d5;">
                    <marquee behavior="scroll" direction="left">
                      공지사항 1 <!-- 롤링바에 표시할 공지사항 목록 -->
                    </marquee>
                  </div>
                </div>
              </div>              
              <!-- body -->
              <div class="container-fluid mt-2">
                <div class="col-12 card mb-4">
                  <div class="card-header sub-title" style="font-size: 20px;color: blue;"><%= subTitle %></div>
                  <div class="card-body">
                    <div class="col-12 mb-4">
                      <div class="table-responsive" style="background-color: white;">
                        <%- body %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                


            </main>

            <!--footer -->
            <footer class="py-4 bg-light mt-auto">
              <div class="container-fluid px-4">
                  <div class="d-flex align-items-center justify-content-between small">
                      <div class="text-muted">Copyright &copy; (주)한국EV링크넷</div>
                      <div>
                          <a href="#">Privacy Policy</a>
                          &middot;
                          <a href="#">Terms &amp; Conditions</a>
                      </div>
                  </div>
              </div>
            </footer>
          </div>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
          <!-- 공통 JS -->
          <script src="js/common.js"></script>
          
      </body>
  </html>
  