img{
  vertical-align: middle;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/img/bg-login.jpg);
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  animation-name: move;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  overflow: hidden; /* 스크롤 없애기 */
}

.login-container > img{
  min-width: 100%;
  position: absolute;
  bottom: 0;
}

.login-form {
  width: 350px;
  border-radius: 1.5em;
  background: #ecedec;
  box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 1;
}

.login-form h2 {
  font-size: 60px;
  font-family: 'Saira Stencil One', cursive;
  color: #01073a;
  text-align: center;
  margin-bottom: 30px;
}

.login-form .form-group {
  position: relative;
}

.login-form .input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #808080;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 35px;
}

.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder {
  color: #808080;
}

.login-form .form-group a {
  display: inline-block;
  margin-left: 10px;
  color: #01073a;
  text-decoration: none;
}

.login-form .form-group a:last-child {
  margin-left: 20px;
}

.login-form .form-group .login-button {
  text-align: right;
}

.login-form .form-group .login-button button {
  width: auto;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff;
  border-radius: 0.5em;
  background-color: #01073a;
  border: none;
  box-shadow: 5px 5px 8px -5px #909092;
  letter-spacing: .1em;
  font-size: 20px;
}

.login-form .form-group .hover-effect:hover {
  color: #1fc2c8;
}

.login-form .form-group .btn:hover {
  background-color: #1fc2c8;
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

.footer h3,
ul {
  display: inline;
  line-height: 50px;
  letter-spacing: 0.2em;
  font-style: oblique;
  color: #fff; /* 텍스트 색상 변경 */
  font-weight: bold; /* 텍스트 강조 */
}

.footer ul li {
  width: 85px;
  display: inline-block;
  padding: 0 10px;
  box-sizing: border-box;
}

.footer ul li img {
  width: 100%;
}

@media (max-width: 576px) {
  .login-container{
    background-image: none;
    background-color: #cccccc;
  }
  .login-form .login-button a, .footer h3 {
    font-size: 14px;
  }
  .footer h3, ul {
    line-height: 30px;
  }
  .footer-lc img {
    width: 60%;
  }
}

@keyframes move{
  from{background-size:150%;}
  to{background-size:100%;}
}

.custom-modal-header {
  background-color: #2c3e50;
  color:#fff;
}
.custom-modal-header .btn-close {
  color: #fff;
}

#privacyPolicyContent{
  font-size: 12px;
}