<!-- 현장실사조회 화면 -->
<section>
    <!-- 홈 화면 내용 -->
    <table id="surveyList_Table" class="display compact nowrap" style="width:100%">
      <thead>
          <tr>
              <th>NAME</th>
              <th>APPLY_DATE</th>
              <th>APPLY_STATE</th>
              <th>APPLY_DUE_DAY</th>
              <th>BD_1</th>
              <th>BD_NAME</th>
              <th>P_LOT</th>
              <th>ADD_1</th>
              <th>ADD_2</th>
              <th>ADD_3</th>
              <th>BD_PERSON_1</th>
              <th>BD_PH_1</th>
              <th>APPLY_FC</th>
              <th>APPLY_SC</th>
              <th>APPLY_NAME</th>
              <th>APPLY_RESULT_1</th>
              <th>ADD_COST_1</th>
              <th>COST_WAY_1</th>
              <th>COST_RESULT_1</th>
          </tr>
      </thead>
      <tbody>
          <!-- 데이터 행들이 동적으로 추가될 부분 -->
      </tbody>
  </table>

  <script src="js/data-table.js"></script>
  </section>
  