<!-- DB조회 화면 -->
<section>
    <!-- 홈 화면 내용 -->
    <table id="dbList_Table" class="display compact nowrap" style="width:100%">
      <thead>
          <tr>
              <th>PART</th>
              <th>BD_1</th>
              <th>BD_2</th>
              <th>BD_NAME</th>
              <th>P_LOT</th>
              <th>ADD_1</th>
              <th>ADD_2</th>
              <th>ADD_3</th>
              <th>APPLY_STATE</th>
              <th>CONT_STATE</th>
              <th>EGR_STATE</th>
              <th>DB_DATE</th>
          </tr>
      </thead>
      <tbody>
          <!-- 데이터 행들이 동적으로 추가될 부분 -->
      </tbody>
  </table>

  <script src="js/data-table.js"></script>
  </section>
  